@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  body {
    background-color: #f9fafb;
    color: #171717;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
